{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content_title %}
    <span class="fa fa-globe"></span> {{ 'Translation'|trans }}
{% endblock %}

{% block main %}
    <h2>{{ 'Import'|trans }}</h2>
    <hr>
    {{ form(form) }}
    <h2>{{ 'Export'|trans }}</h2>
    <hr>
    <a href="{{ path('krg_intl_admin_export') }}" class="btn btn-info">
        {{ 'Export translations'|trans }}
    </a>
{% endblock %}