{% use 'EasyAdminBundle:form:bootstrap_3_horizontal_layout.html.twig' %}

{% block translation_row %}
    {% for child in form.translations %}
        {% set attr = child.vars.attr|length > 0 ? child.vars.attr : form.vars.attr %}
        {% if attr.lang is defined and attr.default_locale is defined %}
            <div lang="{{ attr.lang }}" class="field-group-translation {% if attr.lang != attr.default_locale %}hidden{% endif %}">
                {% if form.vars.label or child.vars.label and form.vars.label is not same as(false) %}
                    {{ form_row(child) }}
                {% else %}
                    {{ form_widget(child) }}
                {% endif %}
            </div>
        {% else %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endblock translation_row %}

{%- block text_widget %}
    {% set attr = form.vars.attr|length > 0 ? form.vars.attr : form.parent.vars.attr %}
    {% if attr.lang is defined and attr.default_locale is defined %}
        <div class="input-group {% if attr.lang != attr.default_locale %}hidden{% endif %}">
            {{- block('form_widget_simple') -}}

            <div class="input-group-addon" id="{{ form.vars.id }}_addon">
                <img src="{{ asset('/bundles/krgintl/images/flags/' ~ attr.lang ~ '.svg') }}" width="20">
            </div>
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock text_widget %}

{%- block textarea_widget %}
    {% set attr = form.vars.attr|length > 0 ? form.vars.attr : form.parent.vars.attr %}
    {% if attr.lang is defined and (attr.class is not defined or attr.class is defined and not 'hidden' in attr.class) %}
        <div class="input-group {% if attr.lang != attr.default_locale %}hidden{% endif %}">
            {{- parent() -}}

            <div class="input-group-addon" id="{{ form.vars.id }}_addon">
                <img src="{{ asset('/bundles/krgintl/images/flags/' ~ attr.lang ~ '.svg') }}" width="20">
            </div>
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock textarea_widget %}

{%- block form_start -%}
    {{ parent() }}

    {% if form.vars.locales is defined and form.vars.locales|length > 1 %}
        <div class="field-group">
            <div class="box box-default box-splitted">
                <div class="box-body">
                    <div class="pull-left">
                        <h3 class="box-title">
                            {{ 'Languages'|trans }}
                        </h3>
                    </div>
                    <div class="pull-right">
                        <div id="{{ form.vars.id }}_btn_group_locales" class="btn-group">
                            {% for locale in form.vars.locales %}
                                <button type="button" class="btn btn-default{% if form.vars.default_locale == locale %} active{% endif %}" lang="{{ locale }}">
                                    <img lang="{{ locale }}" src="{{ asset('/bundles/krgintl/images/flags/' ~ locale ~ '.svg') }}" width="24"/> {{ locale | upper }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function (event) {
                var form = document.{{ form.vars.name }};
                var defaultLocale = '{{ form.vars.default_locale }}';
                var languages = form.querySelectorAll('#{{ form.vars.id }}_btn_group_locales button[lang]');
                var elements = form.querySelectorAll('input[lang], textarea[lang], .field-group-translation[lang], div[lang][default_locale]');

                function onChange(event) {
                    var currentLocale = event instanceof Event ? event.target.lang : defaultLocale;

                    Array.prototype.forEach.call(elements, function (element) {
                        var div = element.tagName === 'DIV' ? element : element.parentNode;

                        div.classList.add('hidden');
                        if (currentLocale === element.lang) {
                            div.classList.remove('hidden');
                        }
                    });

                    Array.prototype.forEach.call(languages, function (anchor) {
                        anchor.classList.remove('active');
                        if (currentLocale === anchor.lang) {
                            anchor.classList.add('active');
                        }
                    });
                }

                Array.prototype.forEach.call(languages, function (anchor) {
                    anchor.addEventListener('click', onChange, true);
                });

                onChange();
            });
        </script>
    {% endif %}
{% endblock form_start %}
