{% use 'EasyAdminBundle:form:bootstrap_3_horizontal_layout.html.twig' %}

{% block translation_widget %}
    {% for child in form.translations %}
        {{ form_widget(child) }}
    {% endfor %}
{% endblock translation_widget %}

{%- block text_widget %}
    {% if form.vars.attr.lang is defined %}
        <div class="input-group {% if form.vars.attr.lang != form.vars.attr.default_locale %}hidden{% endif %}">
            {% set attr = attr|merge({"aria-describedby" : form.vars.id ~ "_addon"}) %}

            {{- block('form_widget_simple') -}}

            <div class="input-group-addon" id="{{ form.vars.id }}_addon">
                <img src="{{ asset('/bundles/krgintl/images/flags/' ~ form.vars.attr.lang ~ '.svg') }}" width="30">
            </div>
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock text_widget %}

{%- block textarea_widget %}
    {% if form.vars.attr.lang is defined %}
        <div class="input-group {% if form.vars.attr.lang != form.vars.attr.default_locale %}hidden{% endif %}">
            {% set attr = attr|merge({"aria-describedby" : form.vars.id ~ "_addon"}) %}

            {{- parent() -}}

            <div class="input-group-addon" id="{{ form.vars.id }}_addon">
                <img src="{{ asset('/bundles/krgintl/images/flags/' ~ form.vars.attr.lang ~ '.svg') }}" width="30">
            </div>
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock textarea_widget %}

{%- block form_start -%}

    {{ parent() }}

    {% if form.vars.locales is defined and form.vars.locales|length > 1 %}

        <div id="{{ form.vars.id }}_btn_group_locales" style="margin-bottom: 40px">
            <ul class="nav nav-fill nav-tabs">
                <li class="nav-item">
                    <h4 style="padding-right: 20px">{{ 'Language'|trans }}</h4>
                </li>
                {% for locale in form.vars.locales %}
                    <li class="nav-item {% if form.vars.default_locale == locale %} active {% endif %}">
                        <a lang="{{ locale }}" href="#" class="nav-link">
                            <img lang="{{ locale }}" src="{{ asset('/bundles/krgintl/images/flags/' ~ locale ~ '.svg') }}" width="30"/> {{ locale | upper }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function (event) {
                var form = document.{{ form.vars.name }};
                var defaultLocale = '{{ form.vars.default_locale }}';
                var languages = form.querySelectorAll('#{{ form.vars.id }}_btn_group_locales a[lang]');
                var elements = form.querySelectorAll('input[lang], textarea[lang]');

                function onChange(event) {
                    var currentLocale = event instanceof Event ? event.target.lang : defaultLocale;

                    Array.prototype.forEach.call(elements, function (element) {
                        var div = element.parentNode;
                        div.classList.add("hidden");
                        if (currentLocale === element.lang) {
                            div.classList.remove("hidden");
                        }
                    });

                    Array.prototype.forEach.call(languages, function (anchor) {
                        anchor.parentNode.classList.remove("active");
                        if (currentLocale === anchor.lang) {
                            anchor.parentNode.classList.add("active");
                        }
                    });
                }

                Array.prototype.forEach.call(languages, function (anchor) {
                    anchor.addEventListener('click', onChange, true);
                });

                onChange();
            });
        </script>
    {% endif %}
{% endblock form_start %}
